
<!-- Modal -->
<div class="modal fade" id="tagexModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="false">
  <input type="hidden" name="tagex_page_status" value="{{ page_status }}">
  <input type="hidden" name="tagex_update_mode" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>


{% endblock modal %}