                            <div class="agree" style="display:none">
                                {{ form_widget(form.plg_privacy_check,{'attr':{'value':1,'class':'hidden'}}) }}
                            </div>
