{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="topic-section">
	<div class="_container">
		<h2 class="heading"><img class="" src="{{ app.config.front_urlpath }}/img/top/topic-ttl.png" alt="スマホマニア トピック"></h2>
		<p class="topic-text"><img class="" src="{{ app.config.front_urlpath }}/img/top/topic-text.png" alt="２つのランキングで各商品を比較!"></p>
		<ul class="ranking">
			<li>
				<p class="topic-ranking1"><a href="<!--{$smarty.const.ACW_BASE_URL}-->kakuyasusumaho-kousoku-ranking.php"><img class="" src="{{ app.config.front_urlpath }}/img/top/topic-speed.png" alt="高速ランキング"></a></p>
			</li>
			<li>
				<p class="topic-ranking2"><a href="<!--{$smarty.const.ACW_BASE_URL}-->kakuyasusumaho-saiyasu-ranking.php"><img class="" src="{{ app.config.front_urlpath }}/img/top/topic-price.png" alt="最安ランキング"></a></p>
			</li>
		</ul>
	</div>
</div>