<!-- {* データ専用プランの重要説明事項 *} -->
<h3><span>U-mobile データ専用利用規約</span></h3>

<p>平成27年4月1日版<br>

株式会社U-NEXT（以下、「当社」といいます）は、U-mobile データ専用に関する利用規約
（以下、「本規約」といいます）を以下の通り定め、これにより、U-mobile データ専用（以下、「本サービス」といいます）を提供します。</p>

<h4>第一章 総則</h4>

<h5>第１条（定義）</h5>

<p>本規約における用語を以下のとおり定義します。<br>
（１）「本SIMカード」とは、本規約に基づき貸与される、契約者情報を記録したICカードをいい、本SIMカードには、Xi対応SIMカード、Xi対応microSIMカードおよびXi対応nanoSIMカードの３つのSIMカード種別が含まれるものとします。<br>
（２）「携帯電話事業者」とは、弊社と直接または間接にワイヤレスデータ通信および回線交換サービスの提供にかかる相互接続協定その他の契約を締結している携帯電話事業者をいいます。現在の携帯電話事業者は、株式会社エヌ・ティ・ティ・ドコモです。<br>
（３）「ワイヤレスデータ通信」とは、携帯電話事業者が提供する無線データ通信でパケット交換方式により符号の伝送を行うためのものをいいます。<br>
（４）「ユニバーサルサービス料」とは、電気通信事業法（昭和59 年法律第86 号）に定める基礎的電気通信役務の提供の確保のための負担金に充てるために、基礎的電気通信役務の提供に係る交付金および負担金算定等規則（平成14 年総務省令第64 号）により算出された額に基づいて、弊社が定める料金をいいます。<br>
（５）「契約者回線」とは、本サービスにかかる契約に基づいて、契約者が利用する電気通信回線をいいます。
（６）「端末機器」とは、端末機器の技術基準適合認定等に関する規則（平成16 年総務省令第15 号）で定める種類の端末設備の機器をいいます。<br>
（７）「自営端末機器」とは、契約者が本SIMカードを利用するため自ら用意する端末機器（弊社が契約者に対して販売した機器も含みます）をいいます。<br>
（８）「協定事業者」とは、弊社と相互接続協定その他の契約を結んだ電気通信事業者をいいます。<br>
（９）「消費税相当額」とは、消費税法（昭和63年法律第108号）および同法に関する法令の規定に基づき課税される消費税の額並びに地方税法（昭和25年法律第226号）および同法に関する法令の規定に基づき課税される地方消費税の額をいいます。
</p>
<h5>第２条（本サービス）</h5>
<p>本サービスは、携帯電話事業者が提供する回線を利用したワイヤレスデータ通信との相互接続によりインターネットに接続する電気通信サービスです。</p>

<h5>第３条（本規約</h5>
<p>１．契約者は、本規約およびその他の本サービスに関する諸規定に従って本サービスを利用するものとします。<br>
２．弊社は本規約を変更することがあります。この場合には、本サービスの利用条件は変更後の規約によります。</p>

<h5>第４条（本サービスおよび付加機能サービスの申込および利用開始）</h5>
<p>１．本サービスの利用契約は、本サービスの利用希望者が本規約に同意のうえで、弊社が別途定める手続きに従い本サービスへの申込をなし、弊社が当該希望者を本サービスの契約者として登録した時点をもって成立するものとします。<br>
２．本サービスの課金開始基準日となる本サービスの開始日は、弊社が指定するものとします。</p>

<h5>第５条（携帯電話事業者との契約）</h5>
<p>契約者は、本サービスを利用するにあたり、ワイヤレスデータ通信の提供を受けるため、携帯電話事業者の定める約款に基づき、契約者と携帯電話事業者との間で接続契約が締結され、本サービスの利用の終了により接続契約が解約されることを了承します。その場合、弊社が当該接続契約の申込および解約を携帯電話事業者に取り次ぐものとします。現在の携帯電話事業者の定める約款は、Ｘｉサービス契約約款です。なお、契約者において特段の手続きは不要です。</p>

<h4>第二章 本サービス</h4>

<h5>第６条（通信区域）</h5>
<p>１．本サービスの通信区域は、携帯電話事業者の通信区域の通りとします。本サービスは、接続されている端末機器が通信区域内に在圏する場合に限り行うことができます。ただし、当該通信区域内であっても、屋内、地下駐車場、ビルの陰、トンネル、山間部等電波の伝わりにくい場所では、通信を行うことができない場合があります。<br>
２．前項の場合、契約者は弊社に対し、弊社の故意または重大な過失により生じた場合を除き、本サービスが利用できないことによるいかなる損害賠償も請求することはできません。
</p>
<h5>第７条（通信利用の制限）</h5>
<p>１．弊社は、技術上、保守上、その他弊社の事業上やむを得ない事由が生じた場合、または携帯電話事業者の提供する電気通信サービスの契約約款の規定もしくは携帯電話事業者または協定事業者と弊社との間で締結される契約の規定に基づく、携帯電話事業者による通信利用の制限が生じた場合、通信を一時的に制限することがあります。<br>
２．前項の場合、契約者は弊社に対し、弊社の故意または重大な過失により生じた場合を除き、通信が制限されることによるいかなる損害賠償も請求することはできません。</p>

<h5>第８条（通信時間等の制限）</h5>
<p>１．前条の規定による場合のほか、弊社は、通信が著しくふくそうするときは、通信時間または特定の地域の通信の利用を制限することがあります。<br>
２．前項の場合において、天災、事変その他の非常事態が発生し、または発生するおそれがある場合の災害の予防もしくは救援、交通、通信もしくは電力の供給の確保または秩序の維持のために必要な事項を内容とする通信および公共の利益のために緊急を要する事項を内容とする通信を優先的に取り扱うため、電気通信事業法施行規則の規定に基づき総務大臣が告示により指定した機関が使用している移動無線装置（弊社、協定事業者または携帯電話事業者がそれらの機関との協議により定めたものに限ります）以外のものによる通信の利用を中止する措置（特定の地域の契約者回線等への通信を中止する措置を含みます）をとることがあります。<br>
３．弊社は、一定期間における通信時間が弊社の定める時間を超えるとき、または一定期間における通信容量が弊社の定める容量を超えるときは、別紙料金表第１表第２の定めに従いその通信を制限、もしくは切断することがあります。<br>
４．弊社は、契約者間の利用の公平を確保し、本サービスを円滑に提供するため、動画再生やファイル交換(P2P)アプリケーション等、帯域を継続的かつ大量に占有する通信手順を用いて行われる通信について速度や通信量を制限することがあります。<br>
５．前４項の場合、契約者は弊社に対し、通信時間等が制限されることによるいかなる損害賠償も請求することはできません。<br>
６．弊社は、本条に規定する通信時間等の制限のため、通信にかかる情報の収集、分析および蓄積を行うことがあります。
</p>

<h5>第９条（通信時間の測定）</h5>
<p>本サービスにかかる通信時間の測定方法は、次の通りとします。<br>
（１）通信時間は、発信者および着信者双方の契約回線等を接続して通信できる状態にした時刻（その通信が手動接続通信であって通信の相手を指定したものであるときは、その指定した相手と通信することができる状態にした時刻とします）から起算し、発信者または着信者による通信終了の信号を受けその通信をできない状態にした時刻までの経過時間とし、弊社の機器（協定事業者の機器を含みます）により測定します。<br>
（２）前号の定めにかかわらず、契約回線の故障等、通信の発信者または着信者の責めに帰すことのできない事由により通信を一時的に制限されたとき（第７条（通信利用の制限）により通信を一時的に制限された場合は、その制限を通知したときとします）は、協定事業者が別途定める規定による時間を通信時間とします。</p>

<h5>第１０条（通信速度等）</h5>
<p>１．弊社が本サービス上に定める通信速度は、実際の通信速度の上限を示すものではなく、接続状況、契約者が使用する本SIMカード、情報通信機器、ネットワーク環境、その他の理由により変化し、通信速度が低下するものであることを、契約者は了承するものとします。<br>
２．弊社は、本サービスにおける通信速度について、いかなる保証も行わないものとします。<br>
３．契約者は、電波状況等により、本サービスを利用して送受信されたメッセージ、データ、情報等が破損または滅失することがあることを、あらかじめ承諾するものとします。</p>

<h5>第１１条 (契約者識別番号の付与)</h5>
<p>契約者識別番号の付与は、携帯電話事業者の定める約款に従い、携帯電話事業者が行います。</p>

<h5>第１２条（契約者の禁止事項）</h5>
<p>１．契約者は本サービスを利用するにあたり、以下の行為を行ってはならないものとします。<br>
（１）他人の知的財産権その他の権利を侵害する行為。他人の財産、プライバシー又は肖像権を侵害する行為<br>
（２）他人を誹謗中傷し、又はその名誉もしくは信用を毀損する行為<br>
（３）詐欺、業務妨害等の犯罪行為又はこれを誘発もしくは扇動する行為<br>
（４）わいせつ、児童ポルノ・児童虐待にあたる画像もしくは文書等を送信し、又は掲載する行為<br>
（５）薬物犯罪、規制薬物等の濫用に結びつく、もしくは結びつくおそれの高い行為、又は未承認医薬品等の広告を行う行為貸金業を営む登録を受けないで、金銭の貸付の広告を行う行為<br>
（６）無限連鎖講（ネズミ講）を開設し、又はこれを勧誘する行為<br>
（７）他人のウェブサイト等、本サービスにより利用しうる情報を改ざんし、又は消去する行為<br>
（８）自己のID情報を他人と共有し又は他者が共有しうる状態に置く行為<br>
（９）他人になりすまして本サービスを使用する行為（他の利用者のID情報を不正に使用する行為、偽装するためにメールヘッダ部分に細工を施す行為を含みます。）<br>
（１０）コンピュータウィルスその他の有害なコンピュータプログラムを送信し、又は他人が受信可能な状態のまま放置する行為<br>
（１１）他人の管理する掲示板等（ネットニュース、メーリングリスト、チャット等を含みます）において、その管理者の意向に反する内容又は態様で、宣伝その他の書き込みをする行為<br>
（１２）受信者の同意を得ることなく、広告宣伝又は勧誘のメール等を送信する行為<br>
（１３）受信者の同意を得ることなく、受信者が嫌悪感を抱く、又はそのおそれのあるメール等（嫌がらせメール）を送信する行為<br>
（１４）違法な賭博・ギャンブルを行わせ、または違法な賭博・ギャンブルへの参加を勧誘する行為<br>
（１５）違法行為（けん銃等の譲渡、爆発物の不正な製造、児童ポルノの提供、公文書偽造、殺人、脅迫等）を請負し、仲介しまたは誘引（他人に依頼することを含む）する行為<br>
（１６）人の殺害現場の画像等の残虐な情報、動物を殺傷・虐待する画像等の情報、その他社会通念上他者に著しく嫌悪感を抱かせる情報を不特定多数の者に対して送信する行為<br>
（１７）人を自殺に誘引または勧誘する行為、または他人に危害の及ぶおそれの高い自殺の手段等を紹介するなどの行為<br>
（１８）犯罪や違法行為に結びつく、またはそのおそれの高い情報や、他人を不当に誹謗中傷・侮辱したり、プライバシーを侵害したりする情報を、不特定の者をして掲載等させることを助長する行為<br>
（２０）他人の施設、設備もしくは機器に権限なくアクセスする行為<br>
（２１）他人が管理するサーバー等に著しく負荷を及ぼす態様で本サービスを使用し、又はそれらの運営を妨げる行為<br>
（２２）その行為が前各号のいずれかに該当することを知りつつ、その行為を助長する態様でリンクをはる行為<br>
（２３）その他、法令もしくは公序良俗に違反し、又は他人の権利を著しく侵害する行為<br>
（２４）前各号に該当するおそれがあると甲が判断する行為
</p>
<h4>第三章 端末機器およびSIM カード</h4>

<h5>第１３条（端末機器利用にかかる契約者の義務）</h5>
<p>１．契約者は、端末機器を電気通信事業法および電波法関係法令が定める技術基準（以下「技術基準」といいます）に適合するよう維持するものとします。<br>
２．契約者は、端末機器について次の事項を遵守するものとします。<br>
（１）端末機器を取り外し、変更し、分解し、もしくは損壊しまたはその設備に線条その他の導体等を接続しないこと。ただし、天災事変その他の事態に際して端末機器を保護する必要があるときはこの限りではありません。<br>
（２）故意に接続回線に保留したまま放置し、その他通信の伝送交換に妨害を与える行為を行わないこと。<br>
（３）端末機器に登録されている契約者識別番号その他の情報を読出し、変更または消去しないこと。</p>

<h5>第１４条（本SIMカード）</h5>
<p>１．本サービスの利用には、本SIMカードが必要となります。本SIMカードは、携帯電話事業者が契約者に貸与するものであり、譲渡するものではありません。<br>
２．契約者は、本SIMカードを善良なる管理者の注意をもって管理するものとします。<br>
３．契約者は、本SIMカードを契約者以外の第三者に利用させたり、貸与、譲渡、売買等をしてはならないものとします。<br>
４．契約者による本SIMカードの管理不十分、使用上の過誤、第三者の使用等による損害は契約者が負担するものとし、弊社は一切責任を負わないものとします。また、第三者による本SIMカードの使用により発生した料金等については、全て当該SIMカードの管理責任を負う契約者の負担とします。 <br>
５．契約者は、本SIMカードが第三者に使用されていることが判明した場合、直ちに弊社にその旨連絡するとともに、弊社からの指示がある場合にはこれに従うものとします。<br>
６．契約者の責めに帰すべからざる事由により本SIMカードが故障した場合に限り、弊社は自らの負担において本SIMカードの修理若しくは交換（種別の異なるSIMカードの交換はできないものとします。以下同じとします）をする義務を負うものとします。<br>
７．契約者は、本SIMカードに登録されている契約者識別番号その他の情報を読出し、変更または消去してはならないものとします。<br>
８．契約者は、本SIMカードに、弊社、携帯電話事業者および第三者の業務に支障が生じる変更、毀損等をしないものとします。契約者の責めに帰すべき事由により本SIMカードが故障した場合は、その修理若しくは交換の費用は契約者の負担とします。なお、この場合、契約者は、修理若しくは交換のための費用のほか、別紙料金表第１表第５（SIMカード損害金）に規定する損害金を弊社に支払うものとします。<br>
９．契約者は、本SIMカードの利用料金を、本サービスの利用料金に含めて弊社に対して支払うものとします。<br>
１０．契約者が、本SIMカード以外のSIMカードを使用すると、本サービスにおける接続サービスの提供が受けられない場合があると同時に、弊社および携帯電話事業者の通信設備に不具合が生じる場合があります。契約者が、本SIMカード以外のSIMカードを使用したことに起因して、弊社、携帯電話事業者および第三者に生じた一切の損害については当該契約者が賠償の責任を負うものとします。<br>
１１．契約者は、本サービスに関する契約終了後、弊社が定める期日までに本SIMカードを弊社に返却するものとし、当該期日までに返却がなかった場合及び破損した場合、別紙料金表第１表第５（SIMカード損害金）に規定する損害金を弊社に支払うものとします。</p>

<h5>第１５条（契約者識別番号の登録等）</h5>
<p>契約者の契約者識別番号の登録等は、携帯電話事業者の定める約款に従い、弊社が協定事業者を通じて携帯電話事業者に取次ぎます。</p>

<h5>第１６条（自営端末機器）</h5>
<p>１．契約者は、本サービスを利用するために必要となる設備については、契約者が自己の費用と責任において準備および維持するものとします。<br>
２．契約者は、本サービスを利用するために必要となる設備が技術基準に適合しない場合、当該自営端末機器での本サービスの利用をできないものとします。<br>
３．弊社は、前項の場合において、契約者または第三者に生じた損害について、一切の責任を負わないものとします。</p>


<h5>第四章 提供の中断、一時中断、利用停止および解除</h5>

<h5>第１７条（提供の中断）</h5>
<p>１．弊社は、次のいずれかに該当する場合には、本サービスの提供を中断することがあります。<br>
（１）弊社または協定事業者もしくは携帯電話事業者の電気通信設備の保守上または工事上やむを得ないとき。<br>
（２）第７条（通信利用の制限）または第８条（通信時間等の制限）により通信利用を制限するとき。<br>
（３）携帯電話事業者の約款により通信利用を制限するとき。<br>
２．弊社は、本条に基づく利用の中断について、損害賠償または本サービスの料金の全部または一部のご返金はいたしません。</p>

<h5>第１８条（契約者からの請求による利用の一時中断）</h5>
<p>１．弊社は、契約者から弊社所定の方法により請求があったときは、本サービスの利用の一時中断（その契約者識別番号を他に転用することなく一時的に利用できないようにすることをいいます。以下同じとします）を行います。<br>
２．前項に基づき、本サービスの利用の一時中断を受けた契約者が、当該利用の一時中断の解除を請求する場合は、弊社所定の方法により行うものとします。<br>
３．本サービスの利用の一時中断および当該利用の一時中断の解除の手続きは、請求を受付けてから一定時間経過後に完了します。当該利用の一時中断の請求後、手続き完了までに生じた利用料金は、契約者による利用であるか否かにかかわらず、契約者の負担とします。<br>
４．本サービスの利用の一時中断があっても、本サービスの利用料金（月額基本料、ユニバーサルサービス料等の月額料）は発生します。</p>

<h5>第１９条（利用停止）</h5>
<p>１．弊社は、本サービスの仕様として定める場合の他、契約者が次のいずれかに該当するときは、弊社が定める期間、本サービスの提供を停止することがあります。<br>
（１）本サービスの料金その他の債務について、支払期日を経過してもなお支払わないとき（弊社が定める方法による支払いのないとき、および、支払期日経過後に支払われ弊社がその支払の事実を確認できないときを含みます）。<br>
（２）本サービスに関する申込みについて、申込みの内容が事実に反することが判明したとき。<br>
（３）契約者が弊社に届出ている情報に変更があったにもかかわらず、当該変更にかかる届出を怠ったとき、または、届出られた内容が事実に反することが判明したとき。<br>
（４）第４０条（契約者確認）に定める契約者確認に応じないとき。<br>
（５）第１６条（自営端末機器）の規定に違反し、本SIMカードを技術基準に適合しない自営端末機器で利用したとき。<br>
（６）弊社の業務または本サービスにかかる電気通信設備に支障を及ぼし、または支障を及ぼすおそれのある行為が行われたとき。<br>
（７）本サービスが他の契約者に重大な支障を与える態様で使用されたとき。<br>
（８）本サービスが違法な態様で使用されたとき。<br>
（９）前各号のほか、本規約の定めに違反する行為が行われたとき。<br>
２．本条に基づく本サービスの提供の停止があっても、本サービスの利用料金（月額基本料、ユニバーサルサービス料等の月額料）は発生します。<br>
３．弊社は、本条に基づく本サービスの提供の停止について、損害賠償または本サービスの料金の全部または一部のご返金はいたしません。</p>

<h5>第２０条 (弊社による利用契約の解除)</h5>
<p>１．弊社は、前条第1項の規定により本サービスの提供を停止された契約者が、なおその事実を解消しない場合には、その利用契約を解除することがあります。<br>
２．弊社は、契約者が前条第1項各号の規定のいずれかに該当する場合で、その事実が弊社の業務の遂行上著しい支障が認められるときは、前項の規定にかかわらず、利用停止をしないでその利用契約を解除することがあります。</p>

<h5>第２１条（解約）</h5>
<p>１．契約者は、弊社が別途定める手続きに従い、本サービスの利用契約を解約することができるものとします。なお、その他の弊社が別途定めるインターネット接続サービスの解約については別途解約手続きが必要となります。<br>
２．前項に定める解約手続きに基づく本サービスの提供終了時点は、解約手続きが完了した月の末日とします。<br>
３．本SIMカードの修理若しくは交換に際して、修理若しくは交換対応後の本SIMカードを受領いただけない場合は、別途弊社の指定する期日をもって本サービスを解約するものとします。</p>

<h4>第五章 料金</h4>

<h5>第２２条（料金）</h5>
<p>１．弊社が提供する本サービスの料金は、基本使用料、定期契約型プランに係る解約金、手続に関する料金およびユニバーサルサービス料等、別途弊社が定める料金表に定めるところによるものとし、契約者はこれらの料金について支払う義務を負うものとします。<br>
２．弊社が貸与した本SIMカードを紛失、破損した場合及びその他の理由により本SIMカードを弊社に返却しない場合のSIMカード損害金は、別途弊社が定める料金表に定めるところによるものとし、契約者はSIMカード損害金について支払う義務を負うものとします。</p>

<h5>第２３条（基本使用料等の支払義務）</h5>
<p>本サービスの契約者は、その契約に基づいて弊社が契約者回線の提供を開始した日から契約の解除があった日が属する月の末日までの期間について、別紙料金表第１表第１（基本使用料）および第４（ユニバーサルサービス料）に規定する料金の支払いを要します。</p>

<h5>第２４条（通信料の算定）</h5>
<p>本サービスの契約者は、次の通信について、第９条（通信時間の測定）の規定により測定した通信時間、情報量に基づいて算定した料金の支払いを要します。ただし、基本使用料等のみ支払を要するプランをご利用の場合はこの限りではありません。<br>
区別 <br>
ワイヤレスデータ通信<br>
 ア 契約者回線から行った通信<br>
 イ 契約者回線へ着信した通信</p>

<h5>第２５条（料金の計算等）</h5>
<p>料金の計算方法並びに料金の支払方法は、別途弊社が定めるところによります。</p>

<h5>第２６条（割増金）</h5>
<p>契約者は、料金の支払いを不法に免れた場合は、弊社の請求に従い、その免れた額のほか、その免れた額（消費税相当額を加算しない額とします）の２倍に相当する額に消費税相当額を加算した額（料金表の規定により消費税相当額を加えないこととされている料金にあっては、その免れた額の２倍に相当する額）を割増金として支払っていただきます。</p>

<h5>第２７条（延滞利息）</h5>
<p>契約者は、料金その他の債務（延滞利息を除きます）について支払期日を経過してもなお支払いがない場合には、支払期日の翌日から支払いの日の前日までの日数について、年14.5％の割合で計算して得た額を延滞利息として支払っていただきます。ただし、支払期日の翌日から起算して１５日以内に支払いがあった場合には、この限りではありません。</p>

<h4>第六章 損害賠償</h4>

<h5>第２８条（本サービスの利用不能による損害）</h5>
<p>１．弊社は、本サービスを提供すべき場合において、弊社の責めに帰すべき理由によりその提供をしなかったときは、本サービスが全く利用できない状態（その契約に係る電気通信設備による全ての通信に著しい支障が生じ、全く利用できない状態と同程度の状態となる場合を含みます。以下この条において同じとします）にあることを弊社が認知した時刻から起算して、24時間以上その状態が連続したときに限り、その契約者の損害を賠償します。<br>
２．前項の場合において、弊社は、本サービスが全く利用できない状態にあることを弊社が認知した時刻以後のその状態が連続した時間（24時間の倍数である部分に限ります）について、24時間ごとに日数を計算し、その日数に対応するその本サービスに係る次の料金の合計額を、発生した損害とみなしその額に限って賠償します。<br>
（１）月額基本料、ユニバーサルサービス料、および付加機能サービス（有料サービス）等の月額料<br>
（２）通信料（本サービスを全く利用できない状態が連続した期間の初日の属する料金月の前6料金月の1日当たりの平均通信料（前6料金月の実績を把握することが困難な場合には、弊社が別に定める方法により算出した額）により算出します）<br>
３．弊社の故意または重大な過失により本サービスの提供をしなかったときは、前２項の規定は適用しません。<br>
（注）本条第2項第2号に規定する弊社が別に定める方法により算出した額は、原則として、本サービスを全く利用できない状態が生じた日より前の把握できる期間における1日当たりの平均通信料とします。</p>

<h5>第２９条（責任の制限）</h5>
<p>１．弊社は、弊社の責めに帰すべき事由により、本サービスの提供をしなかったときは、本サービスが全く利用できない状態（本契約に係る電気通信設備による全ての通信に著しい支障が生じ、全く利用できない状態と同程度の状態となる場合を含みます。以下本条において同じとします。）にあることを弊社が知った時刻から起算して、24時間以上その状態が連続したときに限り、弊社は、その全く利用できない時間を24で除した商（小数点以下の端数を切り捨てるものとします。）に月額基本料金の30分の1を乗じて算出した額を発生した損害とみなし、その額に限って賠償します。<br>
２．弊社の故意または重大な過失により本サービスの提供をしなかったときは、前項の規定は適用しません。<br>
３．弊社は、予見可能性の有無にかかわらず、間接損害、特別損害、偶発的損害、派生的損害、結果的損害および逸失利益については、一切責任を負わないものとします。</p>

<h5>第３０条（免責）</h5>
<p>１．電気通信設備の修理、復旧等に当たって、その電気通信設備に記憶されているデータ、情報等の内容等が変化または消失することがあります。弊社はこれにより損害を与えた場合に、それが弊社の故意または重大な過失により生じたものであるときを除き、その損害を賠償する責任を負いません。<br>
２．弊社は、本規約等の変更により自営端末機器の改造または変更（以下この条において「改造等」といいます）を要することとなる場合であっても、その改造等に要する費用については負担しません。</p>

<h5>第３１条（損害賠償額の上限）</h5>
<p>弊社が契約者に対して損害賠償責任を負う場合の全てについて、その損害賠償の範囲は、当該契約者に現実に発生した通常損害の範囲に限られるものとし、かつ、その総額は弊社が当該損害の発生までに当該契約者から受領した料金の額を上限とします。ただし、弊社に故意もしくは重大な過失がある場合はこの限りではありません。</p>

<h4>第七章 保守</h4>
<h5>第３２条（弊社の維持責任）</h5>
<p>弊社は、弊社の電気通信設備を事業用電気通信設備規則（昭和60 年郵政省令第30 号）に適合するよう維持します。</p>

<h5>第３３条（契約者の維持責任）</h5>
<p>１．契約者は、自営端末機器を、弊社の定める技術基準および技術的条件に適合するよう維持していただきます。<br>
２．前項の規定によるほか、契約者は、自営端末機器（移動無線装置に限ります）を無線設備規則に適合するよう維持していただきます。</p>

<h5>第３４条（契約者の切分責任）</h5>
<p>契約者は、自営端末機器が契約者回線に接続されている場合であって、契約者回線その他弊社の電気通信設備を利用することができなくなったときは、その自営端末機器に故障のないことを確認のうえ、弊社に修理の請求をしていただきます。</p>

<h5>第３５条（修理または復旧）<br>
弊社は、弊社の設置した電気通信設備が故障し、または滅失した場合はすみやかに修理し、または復旧するものとします。ただし、24 時間以内の修理または復旧を保証するものではありません。</h5>

<h5>第３６条（保証の限界）</h5>
<p>１．弊社は、通信の利用に関し、弊社の電気通信設備を除き、相互接続点等を介し接続している、電気通信設備にかかる通信の品質を保証することはできません。<br>
２．弊社は、インターネットおよびコンピュータに関する技術水準、通信回線等のインフラストラクチャーに関する技術水準およびネットワーク自体の高度な複雑さにより、現在の一般的技術水準をもっては本サービスに瑕疵のないことを保証することはできません。</p>

<h5>第３７条（サポート）</h5>
<p>１．弊社は、契約者に対し、本サービスの利用に関する弊社が定める内容の技術サポートを提供します。<br>
２．弊社は、前項に定めるものを除き、契約者に対し、保守、デバッグ、アップデートまたはアップグレード等のいずれを問わず、いかなる技術的役務も提供する義務を負いません。</p>
<h4>第八章 雑 則</h4>

<h5>第３８条（位置情報の送出）</h5>
<p>１．携帯電話事業者または協定事業者がワイヤレスデータ通信に係る弊社との間に設置した接続点と契約者回線との間の通信中にその弊社に係る電気通信設備から携帯事業者が別に定める方法により位置情報（その契約者回線に接続されている移動無線装置の所在に係る情報をいいます。以下この条において同じとします）の要求があったときは、契約者があらかじめ弊社への位置情報の送出に係る設定を行った場合に限り、その接続点へ位置情報を送出することを、契約者は、あらかじめ承諾するものとします。<br>
２．弊社は、前項の規定により送出された位置情報に起因する損害については、その原因の如何によらず、一切の責任を負わないものとします。</p>

<h5>第３９条（情報の収集）</h5>
<p>弊社は、本サービスに関し、契約者に技術サポート等を提供するために必要な情報を収集、利用することがあります。契約者は、契約者から必要な情報が提供されないことにより、弊社が十分な技術サポート等を提供できないことがあることをあらかじめ了承するものとします。</p>

<h5>第４０条(契約者確認)</h5>
<p>弊社は、契約者確認（携帯電話不正利用防止法第９条で定める契約者確認をいいます。以下、本条において同様とします）を求められたときは、当該契約者に対し、契約者確認を行うことがあります。この場合、契約者は、弊社の定める期日までに契約者確認に応じるものとします。</p>

<h5>第４１条(他の電気通信事業者への情報の通知)</h5>
<p>契約者は、料金その他の債務の支払いをしない場合、または前条に定める契約者確認に応じない場合には、弊社が、弊社以外の電気通信事業者からの請求に基づき、氏名、住所、契約者識別番号、生年月日および支払状況等の情報（契約者を特定するために必要なものおよび支払状況に関するものであって、弊社が別に定めるものに限ります）を当該事業者に通知することにあらかじめ同意するものとします。</p>

<h5>第４２条（本サービスの廃止）</h5>
<p>１．弊社は、本サービスの全部または一部を廃止することがあります。
２．弊社は、前項の規定により本サービスを廃止するときは、相当な期間前に契約者に告知します。</p>

<h5>第４３条（本サービスの技術仕様等の変更等）</h5>
<p>弊社は、本サービスにかかわる技術仕様その他の提供条件の変更または電気通信設備の更改等に伴い、契約者が使用する本SIMカードの改造または撤去等を要することとなった場合であっても、その改造または撤去等に要する費用について負担しないものとします。</p>

<h5>第４４条（本サービスの変更等）</h5>
<p>１．弊社は、事前に通知その他の手続きをすることなく、本サービスの内容の変更等をできるものとします。ただし、会員にとって不利な変更等の場合、弊社は事前に通知するものとします。<br>
２．弊社は事前に通知することで、会員の承諾を得ることなく、本サービスの全部または一部を休廃止できるものとします。</p>

<h5>第４５条（分離性）</h5>
<p>本規約の一部分が無効で強制力をもたないと判明した場合でも、本約款の残りの部分の有効性はその影響を受けず引続き有効で、その条件に従って強制力を持ち続けるものとします。</p>

<h5>第４６条（協議）</h5>
<p>弊社および契約者は、本サービスまたは本規約に関して疑義が生じた場合には、両者が誠意をもって協議のうえ解決するものとします。</p>

<p>付則<br>
この規約は平成２６年３月１日から実施します。<br>
平成２６年８月１日 一部改定<br>
平成２６年１０月１日 一部改定<br>
平成２６年１１月１日 一部改定<br>
平成２６年１２月１日 一部改定<br>
平成２７年１月２８日 一部改定<br>
平成２７年４月１日 一部改定</p>


<p>別紙<br>
通則<br>
（料金の計算方法等）<br>
１ 弊社は、契約者がその契約に基づき支払う料金のうち、基本使用料等は暦月、通信料は料金月に従って計算します。ただし、弊社が必要と認めるときは、料金月によらず随時に計算します。<br>
（注）料金月に従って通信料を計算する場合において、通信又はセッションを開始した料金月と終了した料金月が異なるときは、弊社が定める方法により計算するものとします。<br>
２ 弊社は、本サービスに係る通信に関する料金については、通信の種類等ごとに合計した額により、支払いを請求します。<br>
３ 弊社は、弊社の業務の遂行上やむを得ない場合は、料金月に係る起算日を変更することがあります。<br>
（端数処理）<br>
４ 弊社は、料金その他の計算において、その計算結果に１円未満の端数が生じた場合は、その端数を切捨てします。<br>
（料金等の支払い）<br>
５ 契約者は、本サービスの料金について、所定の支払期日までに支払っていただきます。この場合において、契約者は、その料金について、弊社が指定する場所において又は送金により支払っていただきます。<br>
６ 料金は、支払期日の到来する順序に従って支払っていただきます。<br>
（消費税相当額の加算）<br>
７ 第２２条（料金）から第２６条（割増金）までの規定等により、この料金表に定める料金の支払いを要するものとされている額は、税抜額に消費税相当額を加算した額とします。</p>

<h5>料金表 第１表</h5>
<h5>第１ 基本使用料</h5>
１ 適用<br>
基本使用料の適用<br>
料金プラン<br>
<p>ア 料金プランには、次の種別があります。</p>
<p>サービス プラン 概要</p>
<table>
	<tbody><tr>
		<th>U-mobile<br>データ専用<br>１ＧＢ</th>
		<td>月額790円（税抜）の定額プラン</td>
	</tr>
	<tr>
		<th>U-mobile<br>データ専用<br>５ＧＢ</th>
		<td>月額1,480円（税抜）の定額プラン</td>
	</tr>
	<tr>
		<th>U-mobile<br>データ専用<br>ＬＴＥ使い放題</th>
		<td>月額2,480円（税抜）の定額プラン</td>
	</tr>
	<tr>
		<th>U-mobile<br>データ専用<br>ダブルフィックス</th>
		<td>月間データ通信量が１ＧＢ以下の場合は、月額680円（税抜）とし、１ＧＢを超えた場合、月額900円（税抜）とする二段階定額プラン</td>
	</tr>
</tbody></table>

<p>イ 契約者は、いずれかの料金プランを選択していただきます。<br>
ウ 契約開始月に契約を解除した場合を除き、契約開始月の基本使用料は、支払いを要しないものとします。</p>

２ 料金額<br>
<p>サービス プラン 単位 基本使用料月額</p>
<table>
	<tbody><tr>
		<th>U-mobile<br>データ専用<br>１ＧＢ</th>
		<td>（1契約ごとに） 790円（税抜）</td>
	</tr>
	<tr>
		<th>U-mobile<br>データ専用<br>５ＧＢ</th>
		<td>（1契約ごとに） 1,480円（税抜）</td>
	</tr>
	<tr>
		<th>U-mobile<br>データ専用<br>ＬＴＥ使い放題</th>
		<td>（1契約ごとに） 2,480円（税抜）</td>
	</tr>
	<tr>
		<th>U-mobile<br>データ専用<br>ダブルフィックス</th>
		<td>月間データ通信量が１ＧＢ以下の場合 （1契約ごとに） 680円（税抜）
月間データ通信量が１ＧＢを超えた場合 900 円（税抜）</td>
	</tr>
</tbody></table>

<h5>第２ 通信の制限</h5>
<p>１ 適用<br>
通信料の適用<br>
通信の条件 本サービスの利用者は、弊社の定める一定期間内に同じく弊社が定める一定の通信データ量を超えたことを弊社が確認した場合、その後一定期間の通信について、速度を制限させていただくことがあります。各プランごとの通信の条件は以下の通りです。</p>
<p>サービス プラン 制限内容</p>
<table>
	<tbody><tr>
		<th>U-mobile<br>データ専用<br>１ＧＢ</th>
		<td>月間の通信データ量が当月内に1ＧＢを超えたことを当社が確認した後の通信について、速度を制限させていただきます。</td>
	</tr>
	<tr>
		<th>U-mobile<br>データ専用<br>５ＧＢ</th>
		<td>月間の通信データ量が当月内に5ＧＢを超えたことを当社が確認した後の通信について、速度を制限させていただきます。</td>
	</tr>
	<tr>
		<th>U-mobile<br>データ専用<br>ＬＴＥ使い放題</th>
		<td>月間の通信データ量に関わらず、ご利用いただけます。但し、本サービスを円滑に提供するため、本規約の定めにもとづき速度を制限する場合があります。</td>
	</tr>
	<tr>
		<th>U-mobile<br>データ専用<br>ダブルフィックス</th>
		<td>当月内の通信データ量が1ＧＢ以下の場合は月額基本利用料を680円（税抜）としますが、当月内に1ＧＢ超えたことを当社が確認したことをもって月額基本利用料を900円（税抜）とします。また、当月内に3ＧＢを超えたことを当社が確認した後の通信について、速度を制限させていただきます。</td>
	</tr>

</tbody></table>

<h5>第３ 手続きに関する料金</h5>
<p>１ 適用
手 続 き に 関 す る 料 金 の 適 用
（１）手続きに関する料金の種別 手続きに関する料金は、次のとおりとします。</p>
<p>料金種別 内 容<br>
 ア 登録事務手数料 契約の申込みをし、その承諾を受けたときに支払いを要する料金<br>
 イ SIMカード交換手数料 本SIMカードを再発行する際に、支払いを要する料金<br>
（２）SIMカード交換手数料の適用除外 <br>本SIMカードを再発行する場合において、本SIMカードの初期不良、およびユーザーの責によらない不良による再発行の際には、本SIMカード交換手数料は、(1)欄および２（料金額）の規定にかかわらず、適用しません。<br>
（３）手続きに関する料金の減免 弊社は、(1)欄及び２（料金額）の規定にかかわらず、手続きの態様等を勘案して別に定めるところにより、その料金額を減免することがあります。
</p>


<p>２ 料金額</p>
料金種別 単位 料金額<br>
<p>（１）登録事務手数料 : 1枚ごとに 3,000円（税抜）<br>
（２）SIMカード交換手数料 : 1枚ごとに 3,000円（税抜）</p>

<h5>第４ ユニバーサルサービス料</h5>
１ 適用<br>
ユニバーサルサービス料の適用<br>
ア 契約者は、ユニバーサルサービス料の支払いを要します。<br>

<p>２ 料金額 </p>
区分 単位 料金額<br>
<p>ユニバーサルサービス料 基本額 1契約ごとに 2円（税抜）</p>
<p>※ユニバーサルサービス料は基本使用料月額に含まれます。<br>
（注）ユニバーサルサービス料は、ユニバーサルサービスの提供を確保するためにご負担いただく料金であり、ユニバーサルサービス制度に係る負担金の変更があったときは、料金額を見直します。</p>

<h5>第５ SIMカード損害金</h5>
<p>１ 適用<br>
SIMカード損害金の適用 本SIMカードを弊社に返還すべき場合において、サービス解約月の翌月15日までに弊社が貸与した本SIMカードを弊社の指定する場所に返還しない場合、SIMカード損害金の支払いを要します。<br>
2 料金額<br>
１枚ごとに 2,000円（税抜）</p>

<h5>第６ オプションサービス</h5>
１ SMS（ショートメッセージサービス）<br>
月額使用料 150円（税抜）<br>
SMS通信料 国内送信 3円（税抜）<br>
海外送信 100円（非課税）<br>

<p>SMSオプションをご利用いただくには、SMS機能付きのSIMカードが必要になります。<br>
すでに本サービスをオプションなしでご利用いただいているお客様がオプションを追加される場合は、新たに弊社からお送りするSIMカードと交換する必要があります。<br>
SIMカードが交換になった場合、SMSを送受信する際に利用する電話番号も変更になります。現在ご利用中のSIMカードはご利用できなくなります。 </p>

<h5>第７ プラン変更</h5>
<p>契約者は、本サービスへの申込手続きが完了した日が属する月の翌月から、本サービスの各プラン間でプランの変更を行うことができます。プラン変更は、契約者のプラン変更希望の申し込みを当社が受け付け、当社が所定の変更手続きを完了した日が属する月の翌月1日から適用されます。プラン変更手数料は無料とします。尚、契約者のプラン変更の申し込み上限回数は、各月毎に1回とします。</p>
<br>

以上