<!-- ▼item_list▼ -->
{% if ShowImportantMatter %}
		<div class="heading2">
			<h2 class="heading2-text">重要説明事項</h2>
			<p class="heading2-subtext">下記内容を必ずお読みください。</p>
		</div>
		<div class="important-matters-list">
			<div class="important-matters-list-item important-matters-list-item--odd">
				<p class="important-matters-list-item-text">データ専用プランご希望の方はこちら</p>
				<div class="important-matters-list-item-inline-box-outer">
					<div class="important-matters-list-item-inline-box">
						<!--{include file="_common/form/important-matters-dataplan.tpl"}-->
					</div>
				</div>
			</div>
			<div class="important-matters-list-item">
				<p class="important-matters-list-item-text">通話プラスプランご希望の方はこちら</p>
				<div class="important-matters-list-item-inline-box-outer">
					<div class="important-matters-list-item-inline-box">
						<!--{include file="_common/form/important-matters-telephoneplan.tpl"}-->
					</div>
				</div>
			</div>
		</div>
		<p class="_note">
			※今回ご契約いただく【シムカード（月額料金）】はお客様と株式会社U-NEXTの契約になり【端末（代金引換金）】に関しては株式会社ALL CONNECTとの契約になります。<br>
			※当社との契約について お客様は，お客様からＵ－ＮＥＸＴへの申込内容の伝達をスマホマニアに委託するものとし、スマホマニアは，お客様とＵ－ＮＥＸＴとの契約に必要となる事項をすべてお客様に確認するものとします。<br>
			※ご入力いただいた個人情報は、お申込内容確認のため、記入いただいたメールアドレス宛に自動送信いたします。
		</p>
		<!--{/if}-->


{% endif %}
		<p class="_note prev-submit-buttons-note">
			※当社は、お客様に係る氏名、名称、住所若しくは居所、連絡先の電話番号若しくはメールアドレス又は請求書の送付先等の情報を、当社の携帯サービスに係る契約の申込み、契約の締結、料金の適用、料金の請求等、当社の契約約款等の規定に係る業務の遂行上必要な範囲（お客様に係る情報を当社の業務を委託している者に提供する場合を含みます。）で利用します。
		</p>

<!-- ▲item_list▲ -->