<div class="agree">
    <p class="agree_ttl">個人情報取扱についてにお読み頂き、同意にチェックを入れてください。<span class="required">必須</span></p>
    <div class="agree_box">
        <h2>個人情報の取扱について</h2>
        <div class="text">本サイトにて取得した個人情報の利用目的は、以下の通りです。</div>
        <ol>
            <li>当社経由で格安スマホや格安SIMの通知・購入・商品の配送・役務の提供・代金決済・お客さまからのお問い合わせへの対応・業務委託先からお客さまへのお問い合わせ・関連するアフターサービス・その他取引遂行にあたって必要な業務</li>
            <li>各事業における商品・サービス料金の計算及び請求、これらに関するお客様へのご連絡のため</li>
            <li>各事業に関するアンケート調査、お客様からのお問い合わせへの回答のため</li>
            <li>各事業における商品・サービスのお知らせ及び斡旋のため</li>
            <li>各事業におけるキャンペーン等の実施のため</li>
            <li>当社及び第三者の商品等の販売、販売の勧誘、発送、サービス提供のために電子メールその他の広告宣伝物を送信するため</li>
            <li>新卒・中途採用に関するお客様からのご応募やお問い合わせへの回答のため</li>
            <li>各事業における応対品質の向上のため</li>
        </ol>

        <h2>クレジットカード情報を含む個人情報の取り扱いについて</h2>
        <div class="text">お客様のクレジットカード情報(カード名義・カード番号・有効期限)の利用目的、クレジットカード情報の取得者名、提供先名、保存期間は次の通りです。</div>
        <ol>
            <li>利用目的　ご購入された商品およびサービスの代金をクレジットカード決済するため</li>
            <li>情報の取得者名　株式会社ALL CONNECT</li>
            <li>情報の提供先名　クレジットカード決済代行会社（ＧＭＯペイメントゲートウェイ(株)）</li>
            <li>保存期間　お客様からのご注文時よりよりクレジットカード決済を行う時まで</li>
        </ol>
        <div class="text">当社では、以下に定める範囲内において、お客様の個人情報を第三者に提供することがあります。</div>
        <ol>
            <li>お客様の同意がある場合</li>
            <li>裁判所、検察庁、警察、税務署、弁護士会またはこれらに準じた権限を有する機関から開示を求められた場合</li>
            <li>お客様が当社に対し支払うべき料金その他の決済を行うために、金融機関、クレジットカード会社、回収代行業者その他の決済またはその代行を行う事業者に開示する場合</li>
            <li>当社が行う業務の全部または一部を第三者に委託する場合</li>
            <li>当社に対して秘密保持義務を負う者に対して開示する場合</li>
            <li>当社の権利行使に必要な場合</li>
            <li>合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合</li>
            <li>個人情報保護法その他の法令により認められた場合</li>
            <li>第三者の広告又は宣伝等のために電子メールその他の広告宣伝物を送信する場合</li>
        </ol>
        <div class="text">お客様の個人情報を委託先、及び第三者に提供する場合、下記の規定に従います。</div>
        <ol>
            <li>
                委託先、及び第三者に提供する個人情報項目<br>
                氏名、住所、電話番号、生年月日、メールアドレス<br>
                ご請求金額、お支払方法等のご利用料金に関する情報等<br>
                金融機関の口座番号、口座名義、クレジットカード番号等<br>
                個人情報の利用目的に必要な情報等の項目以外は提供致しません。
            </li>
            <li>
                委託先、及び第三者への提供の手段または方法<br>
                郵便物、電話、ファックス、インターネット、電子メール、書面、により行います。
            </li>
            <li>
                委託先、及び第三者への提供の停止<br>
                お客様ご本人からのお申出がありましたら、提供は取りやめさせて頂きます。<br>
                ただし、業務運営上必要なご案内の送付等は除きます。
            </li>
        </ol>
    </div>
    <p class="agree_check"><label for="agree_button"><input type="checkbox" id="agree_button" name="" value="">同意する</label></p>
</div>