{% block javascript %}
<script>

</script>
{% endblock %}

{% block stylesheet %}
<style type="text/css">
/* ==================== PC ==================== */
#privacy h2,#other-privacy h2{margin:50px 0 20px;font-weight:bold;padding:12px;background-color:#f6f6f6}#privacy h3,#other-privacy h3{margin-top:25px;margin-bottom:-20px}#privacy p:first-child,#other-privacy p:first-child{margin:40px 0 -15px;text-align:right;line-height:1.8}#privacy ol,#privacy ul,#other-privacy ol,#other-privacy ul{margin-top:25px;padding-left:30px}#privacy ol,#other-privacy ol{list-style-type:decimal}#privacy ul,#other-privacy ul{list-style-type:disc}#privacy li,#other-privacy li{line-height:1.8}#privacy .text,#other-privacy .text{margin-top:25px;line-height:1.8}#privacy .company-inquiry,#other-privacy .company-inquiry{margin-top:25px;padding:15px 20px;border:1px solid #ddd;line-height:1.8}


.subpage-heading {
    position: relative;
    margin-bottom: 25px;
    padding: 12px 10px 12px 28px;
    border-radius: 4px;
    background-color: #f1f1f1;
    box-shadow: 0 1px 2px 1px #ccc;
    font-size: 18px;
    font-weight: bold;
}
.subpage-heading:before {
    content: '';
    position: absolute;
    margin: 6px 0;
    top: 0;
    bottom: 0;
    left: 8px;
    right: 0;
    width: 8px;
    max-height: 100%;
    background-color: #da0d0d;
    border-radius: 3px 0 0 3px;
}

#contents{
	padding-top:0px;
}
#breadcrumbs.bg-grey {
    background: #f4f4f4;
}
#breadcrumbs {
    margin-bottom: 0;
    margin-top: 0px;
}
#breadcrumbs .parent {
    overflow: hidden;
    display: block;
    width: 1000px;
    margin: 0 auto;
    padding: 11px 0;
    color: #666;
}
#breadcrumbs .children {
    float: left;
    font-size: 10px;
    position: relative;
}
#breadcrumbs a {
    color: #666;
    margin-right: 20px;
}
#breadcrumbs a:after {
    content: ">";
    position: absolute;
    top: -1px;
    right: 5px;
}
/* ==================== PC ==================== */

/* ==================== SP ==================== */
.clearfix{overflow:hidden}#privacy,#other-privacy{margin:0 10px;font-size:100%;line-height:1.6}#privacy h2,#other-privacy h2{margin:20px 0 15px;padding:10px;background-color:#eee;font-size:100%;font-weight:bold}#privacy h3,#other-privacy h3{margin:10px 0 2px}#privacy ol,#privacy ul,#other-privacy ol,#other-privacy ul{margin:10px 0;padding-left:20px}#privacy ol,#other-privacy ol{list-style-type:decimal}#privacy ul,#other-privacy ul{list-style-type:disc}#privacy{margin-top:20px}#privacy .company-inquiry{margin-top:10px;padding:10px;border:1px solid #ccc}#other-privacy{margin-top:20px;margin-bottom:30px}

.page-heading {
    display: block;
    position: relative;
    padding: 10px 40px;
    background-color: #333;
    text-align: center;
    font-size: 0.7rem;
    text-decoration: none;
    color: #fff;
}
.page-heading .page-heading-back {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    width: 30px;
    height: 30px;
    text-align: left;
    text-indent: 100%;
    line-height: 30px;
}
.page-heading .page-heading-back:before {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

</style>
{% endblock %}

{% block main %}


<div id="container" class="pc">
	<div id="container-inner">
		<p id="breadcrumbs">
			<span class="parent" prefix="v:http://rdf.data-vocabulary.org/#">
				<span class="children first" typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="{{ url('homepage') }}">スマホマニアトップ</a></span>
				<span class="children" typeof="v:Breadcrumb"><span property="v:title">プライバシーポリシー</span></span>
			</span>
		</p>
		<h1 class="subpage-heading">プライバシーポリシー</h1>

        {# カスタムのtwigエクステンションを追加した部分 remote_content#}
		{{ get_remote_content('http://acwb-cmn-rsc.s3-website-ap-northeast-1.amazonaws.com/all-connect/privacy.html')|raw}}
		<div id="other-privacy">
			<h2>ご契約について</h2>
			<p class="text">当サイトより「U-mobile」をお申し込みされた場合、株式会社U-NEXTにお客様の情報を提供致します。</p>
		</div>
	</div>
</div>

<div id="contents" class="sp">
    <div class="page-heading">
        <p><a href="{{ url('homepage') }}" class="page-heading-back">戻る</a></p>
        <h1>プライバシーポリシー</h1>
    </div>
    {# カスタムのtwigエクステンションを追加した部分 remote_content#}
        {{ get_remote_content('http://acwb-cmn-rsc.s3-website-ap-northeast-1.amazonaws.com/all-connect/privacy.html')|raw}}

    <div id="other-privacy">
        <h2>ご契約について</h2>
        <p class="text">当サイトより「U-mobile」をお申し込みされた場合、株式会社U-NEXTにお客様の情報を提供致します。</p>
    </div>
</div>


{% endblock %}