{%if Product.id == 20 %}
<div class="sketchfab-embed-wrapper"><iframe width="100%" height="600" src="https://sketchfab.com/models/4c26cd818ade4ecdab904b7209981b54/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/models/4c26cd818ade4ecdab904b7209981b54?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">FREETEL REI</a>
    by <a href="https://sketchfab.com/mobareco?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">mobareco</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>
</div>
{% endif %}
{%if Product.id == 24 %}
<div class="sketchfab-embed-wrapper"><iframe width="100%" height="600" src="https://sketchfab.com/models/c418b9c6fbc040c0b8d1d366ea6ec651/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/models/c418b9c6fbc040c0b8d1d366ea6ec651?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Zen Fone GO ZB551KL</a>
    by <a href="https://sketchfab.com/mobareco?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">mobareco</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>
</div>
{% endif %}
{%if Product.id == 28 %}
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='122644196-8',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
<div class="sketchfab-embed-wrapper"><iframe width="100%" height="600" src="https://sketchfab.com/models/a93039db52b244bd8b0dde3cc6b8d828/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/models/a93039db52b244bd8b0dde3cc6b8d828?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">ZenFone 3 ZE520KL</a>
    by <a href="https://sketchfab.com/mobareco?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">mobareco</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>
</div>
{% endif %}
{%if Product.id == 108 %}
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='122644196-9',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
<div class="sketchfab-embed-wrapper"><iframe width="100%" height="600" src="https://sketchfab.com/models/52269e55365641e3b1a304f2d3351bd9/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/models/52269e55365641e3b1a304f2d3351bd9?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">ZenFone 3 Laser ZC551KL</a>
    by <a href="https://sketchfab.com/mobareco?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">mobareco</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>
</div>
{% endif %}
{%if Product.id == 23 %}
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='122644196-7',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
<div class="sketchfab-embed-wrapper"><iframe width="100%" height="600" src="https://sketchfab.com/models/5b14accb1cd24c69b3c3d72a90f80fed/embed" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
    <a href="https://sketchfab.com/models/5b14accb1cd24c69b3c3d72a90f80fed?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">HUAWEI P9 Lite</a>
    by <a href="https://sketchfab.com/mobareco?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">mobareco</a>
    on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campain=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
</p>
</div>
{% endif %}
{%if Product.id == 197 %}
<style>
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
.photo-right,
.photo-left {
  width: 1008px;
  margin: 0 auto 65px;
}
.photo-right .text,
.photo-left .text {
  width: 460px;
}
.photo-right .text {
  float: left;
}
.photo-left .text {
  float: right;
}
.photo-left .photo {
  float: left;
}
.photo-right .photo {
  float: right;
}
.photo-right .text h3,
.photo-left .text h3 {
  margin: 15px 0 35px;
  font-size: 24px;
}
.photo-right .text p,
.photo-left .text p {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 1.8;
}
@media screen and (max-width: 480px) {
  .photo-right,
  .photo-left {
    width: auto;
    margin: 0 auto 65px;
  }
  .photo-right .text,
  .photo-left .text {
    width: auto;
  }
  .photo-right .text,
  .photo-left .text,
  .photo-left .photo,
  .photo-right .photo {
    float: none;
  }
  .photo-left .photo img,
  .photo-right .photo img {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .article-nav {
    width: 100%;
    padding: 0 !important;
  }
  .article-nav li{
    width: 25%;
  }
  .article-nav a{
    width: auto;
    font-size: 11px;
  }
}
</style>
<div class="photo-right clearfix">
  <div class="text">
    <h3>1,300万画素と全16種類の撮影モード</h3>
    <p>1,300万画素のSONY製IMX214イメージセンサーを搭載しており、開口部F2.0の明るいレンズと相まって全体的にハイレベルでかなり綺麗な画像が撮影できます。</p>
  </div>
  <div class="photo"><img src="https://mobareco.jp/wp-content/uploads/2017/03/p9lite_1.jpg" alt=""></div>
</div>
<div class="photo-left clearfix">
  <div class="text">
    <h3>しっかり握れるスリムでコンパクトな5.2インチサイズ</h3>
    <p>5.2インチサイズで厚さ 約7.5mmという、持っていても負担がなく手にしっくりと馴染むちょうどいいサイズ。ホールド感はかなり良く片手で持て余すことなく操作できます。マット仕様の背面は落ち着いたデザインを感じ、ユーザーを選ばない高いデザイン性を実現しています。</p>
  </div>
  <div class="photo"><img src="https://mobareco.jp/wp-content/uploads/2017/03/p9lite_2.jpg" alt=""></div>
</div>
<div class="photo-right clearfix">
  <div class="text">
    <h3>同価格帯の製品群で頭ひとつ抜けたスペック</h3>
    <p>メモリは2GBでミドルレンジとしては一般的ですがベンチマークアプリの結果は同価格帯の製品よりも頭ひとつ抜けてたスコア結果。<br />
    バッテリー容量は3,000mAhを搭載しており、前作P8 liteとくらべて連続使用時間が劇的に向上しました。</p>
  </div>
  <div class="photo"><img src="https://mobareco.jp/wp-content/uploads/2017/03/p9lite_3.jpg" alt=""></div>
</div>
{% endif %}
{%if Product.id == 195 %}
<style>
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
.photo-right,
.photo-left {
  width: 1008px;
  margin: 0 auto 65px;
}
.photo-right .text,
.photo-left .text {
  width: 460px;
}
.photo-right .text {
  float: left;
}
.photo-left .text {
  float: right;
}
.photo-left .photo {
  float: left;
}
.photo-right .photo {
  float: right;
}
.photo-right .text h3,
.photo-left .text h3 {
  margin: 15px 0 35px;
  font-size: 24px;
}
.photo-right .text p,
.photo-left .text p {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 1.8;
}
@media screen and (max-width: 480px) {
  .photo-right,
  .photo-left {
    width: auto;
    margin: 0 auto 65px;
  }
  .photo-right .text,
  .photo-left .text {
    width: auto;
  }
  .photo-right .text,
  .photo-left .text,
  .photo-left .photo,
  .photo-right .photo {
    float: none;
  }
  .photo-left .photo img,
  .photo-right .photo img {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .article-nav {
    width: 100%;
    padding: 0 !important;
  }
  .article-nav li{
    width: 25%;
  }
  .article-nav a{
    width: auto;
    font-size: 11px;
  }
}
</style>
<div class="photo-right clearfix">
  <div class="text">
    <h3>手ブレを抑え、見たままを再現する<br />
    高性能1,600万画素カメラ搭載</h3>
    <p>ZenFone 3のカメラは1,600万画素、F値2.0、6層レンズを採用。自撮りカメラアプリのブームで利用機会の多いフロントカメラは800万画素を採用。<br />
    スペックとしてはミドルエンドよりも若干上ですが、機能面では、暗所でも高精度・高速にフォーカスをあわせる「レーザーAF」、デジタル一眼レフで採用される高速オートフォーカス「像面位相差AF」、動く被写体にフォーカスし続ける「コンティニュアスAF」を1つに調和した「TriTechオートフォーカス」を備え、静止画撮影時に対応した4軸の「光学手ブレ補正」に対応。格安スマホとは一線を画すカメラ機能を備えています。</p>
  </div>
  <div class="photo"><img src="https://mobareco.jp/wp-content/uploads/2017/03/zenfone3_1.jpg" alt=""></div>
</div>
<div class="photo-left clearfix">
  <div class="text">
    <h3>これまでのZenFoneシリーズからの脱却<br />
    高級感のあるガラスボディを採用</h3>
    <p>ボディサイズは横146.8×横73.9mm。薄型のベゼルによって横幅は小さくなっています。7.69mm、144gの薄型・軽量ボディはガラスも相まってスタイリッシュな印象に仕上がっています。<br />
    ガラスボディがもたらすのは見た目の変化だけではなく質感にも及びます。これまでのプラスチックを遥かに上回る質感で、工業製品を感じさせるアルミボディの冷たいデザインに対して、ZenFone 3のガラスボディは温かみのある美術作品のようなデザインに仕上がっています。</p>
  </div>
  <div class="photo"><img src="https://mobareco.jp/wp-content/uploads/2017/03/zenfone3_2.jpg" alt=""></div>
</div>
<div class="photo-right clearfix">
  <div class="text">
    <h3>用途を選ばない本体スペックとバッテリー性能</h3>
    <p>ウェブの閲覧、SNS投稿など通常利用はもちろん、動画視聴、地図アプリでのルート案内、負荷の高いゲームアプリもカクつくことなく、高い熱も発せずゲームを快適にプレイできました。<br />
    前機種のZenFone 2と比べ、メモリは4GBから3GBにスペックダウンしバッテリーも容量が大幅に減っているものの、ディスプレイサイズの小型化や省電力に優れたプロセッサによって結果として電池持ちが向上しています。</p>
  </div>
  <div class="photo"><img src="https://mobareco.jp/wp-content/uploads/2017/03/zenfone3_3.jpg" alt=""></div>
</div>
{% endif %}
{%if Product.id == 196 %}
<style>
.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}
.photo-right,
.photo-left {
  width: 1008px;
  margin: 0 auto 65px;
}
.photo-right .text,
.photo-left .text {
  width: 460px;
}
.photo-right .text {
  float: left;
}
.photo-left .text {
  float: right;
}
.photo-left .photo {
  float: left;
}
.photo-right .photo {
  float: right;
}
.photo-right .text h3,
.photo-left .text h3 {
  margin: 15px 0 35px;
  font-size: 24px;
}
.photo-right .text p,
.photo-left .text p {
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 1.8;
}
@media screen and (max-width: 480px) {
  .photo-right,
  .photo-left {
    width: auto;
    margin: 0 auto 65px;
  }
  .photo-right .text,
  .photo-left .text {
    width: auto;
  }
  .photo-right .text,
  .photo-left .text,
  .photo-left .photo,
  .photo-right .photo {
    float: none;
  }
  .photo-left .photo img,
  .photo-right .photo img {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .article-nav {
    width: 100%;
    padding: 0 !important;
  }
  .article-nav li{
    width: 25%;
  }
  .article-nav a{
    width: auto;
    font-size: 11px;
  }
}
</style>
<div class="photo-right clearfix">
  <div class="text">
    <h3>1,300万画素の高性能な背面カメラに<br />
    約0.03秒でフォーカスするレーザーオートフォーカスを搭載</h3>
    <p>ZenFone 3 Laser のカメラ性能は1300万画素の高性能な背面カメラにF値2.0の大口径レンズを搭載。さらに約0.03秒でフォーカスするレーザーオートフォーカスを搭載しているので、瞬時に被写体をフォーカスしてくっきり撮影してくれます。動画撮影については、3軸電子式手ぶれ補正(EIS)により、ブレのない動画を撮影できます。</p>
  </div>
  <div class="photo"><img src="https://mobareco.jp/wp-content/uploads/2017/03/zenfone3laser_1.jpg" alt=""></div>
</div>
<div class="photo-left clearfix">
  <div class="text">
    <h3>薄さ 約7.9mm &amp; 5.5インチ大型ディスプレイ<br />
    大画面とスリムと両立したデザイン</h3>
    <p>1920×1080フルハイビジョンの5.5インチ大型ディスプレイを搭載しつつも滑らかなカーブを描き、薄さ約7.9mmの端末は持ちやすく自然な握り心地を実現しています。<br />
    本体カラーはシルバーとゴールドの2色。デザイン性も高く、立派にファッションの一部になり得るスマートフォンです。</p>
  </div>
  <div class="photo"><img src="https://mobareco.jp/wp-content/uploads/2017/03/zenfone3laser_2.jpg" alt=""></div>
</div>
<div class="photo-right clearfix">
  <div class="text">
    <h3>ハイスペックのCPUと大容量メモリを搭載<br />
    パワフルで快適な利用体験</h3>
    <p>Qualcomm® Snapdragon™ 430（オクタコアCPU）と4GBメモリを搭載しており、多くのアプリでストレスなく快適に利用することができます。3,000mAhの大容量バッテリーを搭載しているので、外でも安心して長時間利用することができます。</p>
  </div>
  <div class="photo"><img src="https://mobareco.jp/wp-content/uploads/2017/03/zenfone3laser_3.jpg" alt=""></div>
</div>
{% endif %}