order deny,allow
allow from all
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Authorization ヘッダが取得できない環境への対応
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !^(.*)\.(gif|png|jpe?g|css|ico|js|svg)$ [NC]
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>


<ifModule mod_expires.c>
     ExpiresActive On
     ExpiresByType image/png "access plus 1 months"
     ExpiresByType image/jpeg "access plus 1 months"
     ExpiresByType image/gif "access plus 1 months"
     ExpiresByType text/css "access plus 1 months"
</ifModule>
<FilesMatch "\.(gif¦jpe?g¦png¦ico¦css¦js¦swf)$">
Header set Cache-Control "public"
</FilesMatch>