                            <div class="agree">
                                {{ form_widget(form.plg_privacy_check,{'attr':{'title':'「個人情報の取扱についての同意」は必須項目です。'}}) }}
                                {{ form_errors(form.plg_privacy_check) }}
                            </div>
